.screenshots {
  background: $bg-color;
  padding: 70px 0 120px;
  border-radius: 50px;
  margin: 0 80px;
  @include desktop-xl {
    margin: 0 50px;
  }
  @include desktop-lg {
    margin: 0 30px;
  }
  @include desktop {
    border-radius: 25px;
  }
  @include mobile {
    margin: 0 15px;
    padding: 50px 0 80px;
    overflow: hidden;
  }
  &-title {
    margin-bottom: 55px;

    @include mobile-xs {
      margin-top: 50px;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;

      @include tablet {
        font-size: 35px;
        line-height: 44px;
      }
      @include mobile {
        font-size: 30px;
        line-height: 42px;
      }
    }

    p {
      text-align: center;
      font-size: 17px;
      line-height: 30px;

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &-wrapper {
    position: relative;
    width: 85%;
    margin: 0 auto;
    @include desktop-xl {
      width: 90%;
    }
    @include desktop-lg {
      width: 100%;
    }
    @include desktop {
      width: 90%;
    }
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 80%;
    }
  }

  &-slider-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc((100% / 5 - 30px) * 1.3);
    z-index: 3;
    display: block;
    pointer-events: none;
    @include desktop-xl {
      width: calc((100% / 5 - 30px) * 1.3);
    }

    @include desktop {
      width: calc((100% / 3 - 30px) * 1.3);
    }

    @include tablet {
      width: calc((100% / 3 - 30px) * 1.3);
    }

    @include mobile {
      width: calc((100% - 30px) * 1.3);
    }

    img {
      max-width: 100%;
      height: auto;
      pointer-events: none;
    }
  }

  &-slider {
    &-item {
      padding: 0 15px;
      outline: none;

      img {
        width: 100%;
        height: auto;
      }
    }

    .slick-slide {
      transition: transform 0.3s ease;
    }

    .slick-center {
      transform: scale(1.29);
      z-index: 2;
      position: relative;
    }

    .slick-dots {
      position: absolute;
      bottom: -90px;
      @include mobile {
        bottom: -50px;
      }
    }

    .slick-dots li {
      display: inline-block;
      margin: 0 5px;
      width: unset;
      height: unset;
    }

    .slick-dots li button {
      background: $primary-color;
      text-indent: -999999999px;
      width: 15px;
      height: 7px;
      outline: 0;
      border-radius: 2px;
      transition: 0.5s ease;
      padding: 0;
      opacity: 0.3;
      &::before {
        content: none;
      }
    }

    .slick-dots li.slick-active button {
      background: $primary-color;
      width: 40px;
      opacity: 1;
    }
  }
}
